@import "tailwindcss";

@font-face {
  font-family: "Ethic New";
  src: url("/fonts/EthicNew-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ethic New";
  src: url("/fonts/EthicNew-LightItalic.ttf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
