@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* F3 Global Design System Colors */
  --f3-blue: #172447;
  --background-grey: #f4f4f4;
  --text-black: #1e1e1e;
  --secondary-text-grey: #5d5d5d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
