@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* F3 Global Design System Colors */
  --f3-blue: #172447;
  --background-grey: #f4f4f4;
  --text-black: #1e1e1e;
  --secondary-text-grey: #5d5d5d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-dm: var(--font-dm-sans), ui-sans-serif, system-ui, sans-serif;
  --font-ethic: "Ethic New", sans-serif;

  --animate-marquee: marquee 30s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-carousel {
  animation: carousel-scroll 10s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

/* Ethic New */
@font-face {
  font-family: "Ethic New";
  src: url("/fonts/EthicNew-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ethic New";
  src: url("/fonts/EthicNew-LightItalic.ttf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ethic New";
  src:
    url("/fonts/ethicnew-bold-1.otf") format("opentype"),
    url("/fonts/ethicnew-bold-1.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Ethic New";
  src:
    url("/fonts/ethicnew-bolditalic-1.otf") format("opentype"),
    url("/fonts/ethicnew-bolditalic-1.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Ethic New";
  src:
    url("/fonts/ethicnew-italic-1.otf") format("opentype"),
    url("/fonts/ethicnew-italic-1.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Ethic New";
  src:
    url("/fonts/ethicnew-light-1.otf") format("opentype"),
    url("/fonts/ethicnew-light-1.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Ethic Serif */
@font-face {
  font-family: "Ethic Serif";
  src:
    url("/fonts/ethicserif-regular-1.otf") format("opentype"),
    url("/fonts/ethicserif-regular-1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--Text-Black, #1e1e1e);
}
