.button {
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 99px;
    background: var(--F3-Blue, #172447);
}

.buttonText {
    color: var(--White, #FFF);
    text-align: center;

    /* Body/Medium(bold) */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}