.footerContainer {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: var(--Background-Grey, #f4f4f4);
}

.textContainer {
  display: flex;
  width: 1313px;
  justify-content: space-between;
  align-items: flex-start;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.headerContainer {
  display: flex;
  width: 392px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-family: "Ethic New", sans-serif;
  color: var(--F3-Blue, #172447);
  font-size: 64px;
}

.bodyText {
  color: var(--Text-Black, #1e1e1e);
  font-size: 16px;
}

.link {
  color: var(--Text-Black, #1e1e1e);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 5%;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.socialsContainer {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.icon {
  aspect-ratio: 1/1;
  border-radius: 9px;
}

.copyrightText {
  color: var(--Secondary-Text-Grey, #5d5d5d);
}

.linksContainer {
  display: flex;
  width: 554px;
  align-items: flex-start;
  gap: 70px;
  flex-shrink: 0;
}

.linkCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.labelText {
  color: var(--Text-Black, #1e1e1e);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
